{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Website Title</title>
  <link rel="icon" type="image/x-icon" href="{% static 'imgs/picofme.png' %}">
  <link rel="stylesheet" href="{% static 'css\styles.css' %}">
  <script src="{% static 'js/script.js' %}"></script>
  <style>

  </style>
</head>

<body>
{% comment %} HEADER---------------------------------  {% endcomment %}
  <div class="headerbox">
    <header>
      <div class="head_container">
  
        <div class="logo">
          <img src="{% static 'imgs/picofme.png' %}">
        </div>
        
  
        <div class="menu" id="myTopnav">
          <ul>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="openNav()">&#9776;</a>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="https://shovanpaul48.github.io/MyPortfolio/">Portfolio</a></li>
            <li><a href="#">Request Quote</a></li>
            <li><a href="#">Contact</a></li>

          </ul>
        </div>
      </div>
    </header>
  
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="https://shovanpaul48.github.io/MyPortfolio/">Portfolio</a>
      <a href="#">Request Quote</a>
      <a href="#">Contact</a>
      <p style="color: #1c3664; text-align: center">Hubover &copy; 2017</p>
    </div>
  </div>





{% comment %} CONTENT------------------------------------------------- {% endcomment %}
{% block content %}


{% endblock %}
  



{% comment %} FOOTER-------------------------------------------------- {% endcomment %}
  <footer class="footer"><h4>Footer</h4></footer>
  
  <div class="box">
    <h2>Responsive Box</h2>
    <p>This box will adjust its width based on the screen size.</p>
  </div>
  
</body>
</html>
