/* HEADER----------------------------------- */


body{
  font-family: Raleway;
}
.headerbox {
  width: 80%;
  margin: 20px auto;
  background-color:  rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  /* padding-top: 20px; */
  padding-right: 10px;
  box-sizing: border-box;
} 
header{
  border: black;
  border-width: 2px;
  box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}
.head_container{
  padding: 10px;
  overflow: hidden;

}
.logo{
padding-top: 25px;
padding-bottom:25px;
float:inline-start;
}
.logo img{
  height: 50px;
}


.menu{
  margin-top:14px;
  float:right;
}
.menu ul{
  list-style-type: none;
      margin-right: -10px;
}
.menu li{
  display: inline;
  margin-right-last:0px; 
}
.menu a{
  text-decoration: none;
  font-weight: 500;
  color: #1c3664;
  padding:10px;
}
.menu a:hover { 
  background: rgba(247, 202, 24, 0.1);
    color: #10962f;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    transition: 0.2s;
}
.icon{
  display: none;
}
menu.responsive{
  position: relative;
}
menu.responsive{
  float: none;
    display: block;
    text-align: left;
}
@media screen and (max-width: 835px) {
  .logo img {
      height: 40px;
  }
  ul > li:first-of-type{
    display:none;
  }
  .menu{
    margin:0;
  }
}
@media screen and (max-width: 690px) {
.menu li{
  display: none;
}
.icon{
    font-weight: 100 !important;
    font-size: 22px !important;
    padding-top: 4px;
    margin-top: -7px;
    display: flex;
}
  .logo img {
      height: 35px;
  }
}
.sidenav {
    height: 90.5%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 87px;
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.24);
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px ;
    /* border-radius: 20px; */
    backdrop-filter: blur(10px); /* Adds blur effect to background */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #1c3664;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #10962f;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* HEADER------------------------------------------ */


/* CONTENT================================================== */
[type="radio"]{
  display: none;
}
label{
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.25s;
}
[type="radio"]:checked + label{
	background: gold;
}
.content_filter{
  margin: auto;
  padding: 0;
  width: fit-content;
}

/* CONTENT ------------------------------------------------- */
html, body {
height: 100%;
}

body {
display: flex;
flex-direction: column;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
background: #000000;
background-image: linear-gradient(rgba(102, 104, 102, 0.1) 0.1em, transparent 0.1em),
  linear-gradient(90deg, rgba(102, 104, 102, 0.1) 0.1em, transparent 0.1em);
background-size: 1.7em 1.7em;
color: #fff;
overflow: auto;
}

a {
color: #fff;
}

/* Header */
.header {
background-color: rgba(239, 234, 234, 0.3);
backdrop-filter: blur(5px);
position: fixed;
width: 100%;
z-index: 3;
border-radius: 0;
padding: 5px 10px;
margin: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}


.content {
/* position: relative; */
flex: 1 0 auto;
padding: 20px;
margin-top: 0px;
color: white;
align-items: center;
}



/* New CSS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
margin: 0;
padding: 0;
color: #eee;
text-decoration: none;
font-family: "Poppins", "Helvetica Neue", sans-serif;
}

body {
height: auto; /* Removed the fixed height */
background-color: #141414;
overflow-x: hidden;
}

.hero-section {
min-height: 100%;
align-items: center;
padding: 2rem;
display: flex;
align-items: center;
justify-content: center;
}

.card-grid-new {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-column-gap: 24px;
grid-row-gap: 24px;
width: 100%;
align-items: center;
}


.card-new:hover .card__text-new {
display: block;
}
@media (max-width: 1200px) {
  .card-grid-new {
    grid-template-columns: repeat(3, 1fr);
  }
}



@media (max-width: 1000px) {
.card-grid-new {
  grid-template-columns: repeat(2, 1fr);
}
}

@media (max-width: 620px) {
.card-grid-new {
  
  grid-template-columns: repeat(1, 1fr);
}
}

.card-new {
list-style: none;
position: relative;
transition: all 0.5s ease-out;
}

.card__bg-new {
position: relative;
height: 50vh;
min-width: 250px;
background-size: cover;
background-position: center center;
border-radius: 1rem;
overflow: hidden;
transform: scale(1);
transition: all 0.5s ease-out;
}

.card__bg-new::after {
content: "";
background-image: linear-gradient(360deg, black, transparent);
height: 150px;
bottom: 0;
width: 100%;
position: absolute;
}

.card__content-new {
position: absolute;
bottom: 1rem;
left: 1rem;
}

.card__category-new {
font-size: 10px;
text-transform: uppercase;
font-weight: bold;
color: #acacac;
}


.cardbutton {
position:relative; /* Position button relative to card */
bottom: 10px;
right: 10px;
opacity: 0; /* Initially hide button */
color: #10962f;
margin-left: 10px;
transition: opacity 0.3s ease; /* Smooth transition for button */
}
.card-new:hover {
transform: scale(1.02);
filter: drop-shadow(0px 0px 100px #acacac);
}

.card-new:hover .cardbutton {
opacity: 1; /* Make button visible on hover */
}

@media (hover: none) {
.card-new:hover {
  transform: none;
  filter: none;
}

.card-grid-new:hover > .card-new:not(:hover).card-new {
  filter: none;
}
}

.card-grid-new:hover > .card-new:not(:hover).card-new {
filter: brightness(0.8) grayscale(0.6) contrast(1.2) blur(10px);
}

/* 48em = 768px */
@media (min-width: 48em) {
.header li {
  float: left;
}

.header li a {
  padding: 20px 30px;
  font-size: 1em;
}

.header .menu {
  clear: none;
  float: right;
  max-height: none;
  margin-left: 0;
}

.header .menu-icon {
  display: none;
}
}

/* CONTENT ------------------------------------------------- */

/* FOOTER---------------------------------------------- */
.footer {
/* background-color: rgba(0, 0, 0, 0.7);
backdrop-filter: blur(5px); */
color: white;
display: flex;
justify-content: center;
flex-shrink: 0;
padding: 5px;
}

.box {
  position: relative;
  width: 80%;
  margin: 20px auto;
  overflow: hidden; /* Ensure the background doesn't overflow the box */
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value (0.7) for transparency */
  padding: 10px;
  box-sizing: border-box;
  align-content: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://i.ibb.co/jyRLrBZ/world-map.png); /* Add your background image URL here */
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7; /* Adjust the opacity as needed */
  z-index: -1; /* Ensure the background is behind other content */
  animation: backgroundMovement 30s linear infinite;
}


@keyframes backgroundMovement {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5%, 5%);
  }
  50% {
    transform: translate(-5%, -5%);
  }
  75% {
    transform: translate(-5%, 5%);
  }
  100% {
    transform: translate(5%, -5%);
  }
}

/* FOOTER-------------------------------------------------- */
