.container {
    max-width: 600px;
    margin: 0;
    padding: 20px;
    background-color: #8039d1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition:  0.3s ease;
    
}
.h1{
    color: aqua;
}
form {
    display: flex;
    flex-direction: column;
    color: #0056b3;
}

label {
    margin-top: 10px;
}

input,
textarea {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #aaa;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.dark-mode {
    background-color: #000000;
    color: aqua
}

.dark-mode .container {
    background-color: #000000;
    backdrop-filter: blur(10px); /* Adds blur effect to background */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.dark-mode input,
.dark-mode textarea,
.dark-mode button {
    background-color: #000000;
    color: #fff;
}
