<!-- video_stream.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Hand Gesture Volume Control</title>
</head>
<body>
    <video id="video" width="640" height="480" autoplay></video>
    <canvas id="canvas" width="640" height="480"></canvas>

   <script>
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const context = canvas.getContext('2d');
        {% comment %} let socket = new WebSocket('ws://' + window.location.host + '/ws/video_stream/'); {% endcomment %}
        let socket = new WebSocket('ws://' + window.location.host + '/ws/video_stream/');
        socket.onopen = function() {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(stream => {
                    video.srcObject = stream;
                    video.play();

                    const sendFrame = () => {
                        context.drawImage(video, 0, 0, canvas.width, canvas.height);
                        const frame = canvas.toDataURL('image/jpeg').split(',')[1];
                        socket.send(frame);
                        requestAnimationFrame(sendFrame);
                    };

                    sendFrame();
                })
                .catch(error => console.error('Error accessing camera:', error));
        };

        socket.onmessage = function(event) {
            const imageData = event.data;
            const img = new Image();
            img.onload = function() {
                context.drawImage(img, 0, 0, canvas.width, canvas.height);
            };
            img.src = 'data:image/jpeg;base64,' + imageData;
        };
    </script>
</body>
</html>